@charset "UTF-8";
/*     Color Pallete     */
/*     Typeface     */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap");
/*     Universal Classes     */
/*     Web Configuration     */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  counter-reset: mycounter;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

/*     Pre-Loader    */
.overlay {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 990;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
}

.layer {
  background-color: #000;
}

.layer-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.layer-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.layer-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.layer-4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.layer-5 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/*     Custom Cursor     */
.cursor {
  left: 10px;
  width: 20px;
  z-index: 900;
  position: fixed;
  aspect-ratio: 1;
  border-radius: 50%;
  pointer-events: none;
  background-color: #fff;
  mix-blend-mode: difference;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width .3s, height .3s;
  transition: width .3s, height .3s;
}

.cursor.state-1 {
  width: 40px;
  -webkit-transition: width .3s, height .3s;
  transition: width .3s, height .3s;
}

.cursor.state-2 {
  width: 150px;
  background: #D5FC31;
  mix-blend-mode: normal;
  -webkit-transition: width .3s, height .3s;
  transition: width .3s, height .3s;
}

.cursor.state-2::before {
  width: 100%;
  height: 100%;
  content: '▶';
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  font-size: 5rem;
  margin-left: .1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*     Navbar     */
.nav {
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'PP Neue Montreal', sans-serif;
}

.nav__logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__links li {
  color: #000;
  -webkit-transition: .3s;
  transition: .3s;
  margin-left: 1em;
  font-size: 1.1rem;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.nav__links li:hover {
  font-size: 1.2rem;
}

.nav__btn {
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px 24px;
  background: none;
}

.nav__btn a {
  color: #000;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 1.1rem;
  padding: 10px 24px;
  background-color: #D5FC31;
  font-family: 'PP Neue Montreal', sans-serif;
}

.nav__btn a:hover {
  color: #fff;
  background-color: #10101d;
}

/*     Banner     */
.banner {
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10%;
  position: fixed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #D5FC31;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner__title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'PP Neue Montreal';
}

.banner__btn {
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px 24px;
  background: none;
}

.banner__btn a {
  color: #fff;
  background: #000;
  font-size: 1.2rem;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 10px 24px;
  font-family: 'PP Neue Montreal';
}

.banner__btn a:hover {
  color: #000;
  background: #fff;
}

/*     Contents     */
section {
  width: 100%;
  height: 100%;
}

section .hero {
  width: 100%;
  height: 100vh;
}

section .hero__item {
  width: 100%;
  height: 100%;
  padding: 0 5%;
  overflow: hidden;
  position: relative;
}

section .hero__item h1 {
  font-size: 6rem;
  line-height: 90%;
  margin-top: 1.7em;
  font-weight: 400;
  text-transform: capitalize;
  font-family: 'Space Grotesk', sans-serif;
}

section .hero__item p {
  padding-top: 1.5em;
  font-size: 1.1rem;
  font-family: 'PP Neue Montreal', sans-serif;
}

section .hero__item img {
  top: 10%;
  right: -5%;
  position: absolute;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

section .hero__item .cta {
  display: none;
}

section .data {
  width: 100%;
  height: 30vh;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5%;
  background: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .data h1 {
  font-size: 2.8rem;
  padding-right: 5.3em;
}

section .data h1, section .data h2 {
  font-weight: 500;
  font-family: 'PP Neue Montreal';
}

section .data h2 {
  line-height: 90%;
  margin-left: 2em;
}

section .data2 {
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5%;
  overflow: hidden;
  position: relative;
  background: #D5FC31;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section .data2 h1 {
  height: 70%;
  font-weight: 400;
  font-size: 2.8rem;
  text-align: right;
  line-height: 95%;
  font-family: 'PP Neue Montreal';
}

section .data2 p {
  font-size: 1.1rem;
  position: absolute;
  padding-top: 5em;
  font-family: 'PP Neue Montreal';
}

section .data2 img {
  position: absolute;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

section .data2 .google {
  right: 27%;
  -webkit-transform: scale(0.08);
          transform: scale(0.08);
}

section .data2 .microsoft {
  right: 12%;
}

section .data2 .spotify {
  right: 16%;
  -webkit-transform: scale(0.15);
          transform: scale(0.15);
  -webkit-filter: contrast(100);
          filter: contrast(100);
}

section .data2 .apple {
  right: -5%;
  margin-bottom: .6em;
}

section .benefit {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

section .benefit__item {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'PP Neue Montreal';
}

section .benefit__item h1 {
  font-size: 4rem;
  padding-top: 8%;
  text-align: center;
  font-family: 'Space Grotesk';
}

section .benefit__item p {
  text-align: center;
  font-size: 1.1rem;
  padding-top: .3em;
}

section .benefit__item video {
  top: 100%;
  left: 50%;
  width: 40em;
  height: 22em;
  position: absolute;
  background: #000;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

section .process {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

section .process__item {
  width: 100%;
  height: 100%;
  padding: 0 10%;
  position: relative;
}

section .process__item h1 {
  font-size: 3rem;
  padding-top: 3em;
  font-family: 'Space Grotesk';
}

section .process__item h1 span {
  font-size: 5rem;
}

section .process__item ul {
  padding-top: 2em;
  font-family: 'PP Neue Montreal';
}

section .process__item ul li {
  width: 30%;
  font-size: 2rem;
  cursor: default;
  margin-bottom: 1em;
  position: relative;
  padding-bottom: .2em;
  border-bottom: 1px solid black;
}

section .process__item ul li::before {
  content: '→';
  color: #000;
  font-size: 2rem;
  padding-right: 1em;
}

section .process__item__img {
  top: 45%;
  right: 23%;
  z-index: 2;
  width: 480px;
  height: 240px;
  overflow: hidden;
  position: absolute;
  background: black;
}

section .process__item__img img {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

section .process__item__img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section .process__item__frame {
  top: 47%;
  right: 21%;
  z-index: 1;
  width: 480px;
  height: 240px;
  position: absolute;
  border: 1px solid black;
}

section .plans {
  width: 100%;
  height: 120vh;
  background-color: #fff;
}

section .plans__title {
  font-size: 4rem;
  padding-top: 1em;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
}

section .plans__desc {
  font-size: 1.1rem;
  text-align: center;
  font-family: 'PP Neue Montreal';
}

section .plans .container {
  width: 100%;
}

section .plans .container .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  padding-right: 4em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .plans .container .row ion-icon {
  font-size: 8rem;
  -webkit-transition: .3s;
  transition: .3s;
  margin-left: .5em;
}

section .plans .container .row ion-icon:hover {
  color: #D5FC31;
  font-size: 8.5rem;
}

section .data3 {
  width: 100%;
  height: 80vh;
  padding: 5% 10%;
  background-color: #fff;
}

section .data3__box {
  width: 100%;
  height: 100%;
  color: #000;
  position: relative;
  background-color: #D5FC31;
  border: 1px solid black;
  font-family: 'PP Neue Montreal';
}

section .data3__box h1 {
  height: 65%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 7rem;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  font-family: 'Space Grotesk';
}

section .data3__box p {
  padding-top: 19%;
  font-size: 1.2rem;
  text-align: center;
}

section .data3__box button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px 24px;
  background: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .data3__box button a {
  color: #fff;
  background: #000;
  padding: 12px 35px;
  font-size: 1.5rem;
  margin-top: .5em;
  -webkit-transition: .3s;
  transition: .3s;
  font-family: 'PP Neue Montreal';
}

section .data3__box button a:hover {
  color: #000;
  background: #fff;
}

section .footer {
  width: 100%;
  height: 30vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #000;
}

section .footer__upper {
  width: 100%;
  height: 60%;
  color: #666;
  position: relative;
  text-align: center;
  font-family: 'PP Neue Montreal';
}

section .footer__upper h1 {
  color: #D5FC31;
  padding-top: 1em;
}

section .footer__upper .socials {
  gap: .5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1em;
  font-size: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .footer__upper .socials ion-icon:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #D5FC31;
}

section .footer__bottom {
  width: 100%;
  height: 40%;
  color: #666;
  font-size: .8rem;
  position: relative;
  text-align: center;
  font-family: 'PP Neue Montreal';
}

section .footer__bottom p {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*     For Mobile  (Mobile M & Mobile L)   */
@media only screen and (min-width: 375px) and (max-width: 425px) {
  body {
    min-width: 375px;
    max-width: 425px;
  }
  .overlay {
    display: none;
  }
  .cursor {
    display: none;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  .nav {
    top: 0;
    left: 0;
    height: 70px;
    padding: 0 5%;
    max-width: 425px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__logo {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__links {
    display: none;
  }
  .nav__btn a {
    font-size: 1rem;
    padding: 8px 22px;
    background-color: #D5FC31;
    font-family: 'PP Neue Montreal', sans-serif;
  }
  .nav__btn a:hover {
    color: #fff;
    background-color: #10101d;
  }
  .banner {
    display: none;
  }
  section {
    overflow-x: hidden;
    max-width: 425px;
    min-width: 375px;
  }
  section .hero {
    height: 80vh;
  }
  section .hero__item {
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  section .hero__item img {
    right: -55%;
    display: none;
    margin-top: 8em;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  section .hero__item h1 {
    font-size: 3rem;
    line-height: 90%;
    margin-top: 2.8em;
  }
  section .hero__item p {
    width: 70%;
    font-size: .8rem;
    padding-top: 1.5em;
    text-align: justify;
  }
  section .hero__item .cta {
    z-index: 2;
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 10px 24px;
    margin-top: 1.5em;
    position: relative;
    background-color: #D5FC31;
    font-family: 'PP Neue Montreal';
  }
  section .data {
    height: 30vh;
    display: block;
    padding-top: 7%;
    position: relative;
  }
  section .data h1 {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2rem;
    margin-top: .2em;
    position: absolute;
  }
  section .data h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    margin-top: .5em;
    font-weight: 400;
    margin-left: 15em;
  }
  section .data2 {
    width: 100%;
    height: 25vh;
  }
  section .data2 h1 {
    height: 70%;
    font-size: 2rem;
    font-weight: 400;
    line-height: 105%;
    text-align: right;
    font-family: 'PP Neue Montreal';
  }
  section .data2 p {
    font-size: .8rem;
    position: absolute;
    padding-top: 5em;
    font-family: 'PP Neue Montreal';
  }
  section .data2 img {
    position: absolute;
    margin-top: 6em;
    display: none;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  section .data2 .google {
    right: -146%;
    margin-bottom: .3em;
    -webkit-transform: scale(0.03);
            transform: scale(0.03);
  }
  section .data2 .microsoft {
    right: -168%;
    margin-bottom: .4em;
    -webkit-transform: scale(0.05);
            transform: scale(0.05);
  }
  section .data2 .spotify {
    right: -125%;
    margin-bottom: .4em;
    -webkit-transform: scale(0.08);
            transform: scale(0.08);
    -webkit-filter: contrast(100);
            filter: contrast(100);
  }
  section .data2 .apple {
    right: -72%;
  }
  section .benefit {
    height: 70vh;
  }
  section .benefit__item h1 {
    padding: 0 5%;
    font-size: 2rem;
    padding-top: 20%;
    line-height: 90%;
    text-align: center;
    font-family: 'Space Grotesk';
  }
  section .benefit__item p {
    text-align: center;
    font-size: .8rem;
    padding-top: 1em;
  }
  section .benefit__item video {
    top: 85%;
    left: 50%;
    width: 20em;
    height: 12em;
    position: absolute;
    background: #000;
    -webkit-transform: translate(-50%, -85%);
            transform: translate(-50%, -85%);
  }
  section .process {
    height: 60vh;
  }
  section .process__item h1 {
    font-size: 1rem;
  }
  section .process__item h1 span {
    font-size: 2rem;
  }
  section .process__item ul {
    padding-top: 2em;
  }
  section .process__item ul li {
    width: 45%;
    font-size: 1rem;
    margin-bottom: 1em;
    padding-bottom: .2em;
  }
  section .process__item ul li::before {
    content: '→';
    color: #000;
    font-size: 1rem;
    padding-right: .5em;
  }
  section .process__item__img {
    top: 32%;
    right: -30%;
    z-index: 2;
    width: 280px;
    height: 140px;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    position: absolute;
    background: black;
  }
  section .process__item__img img {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  section .process__item__img img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  section .process__item__frame {
    top: 34%;
    right: -32%;
    z-index: 1;
    width: 280px;
    height: 140px;
    position: absolute;
    border: 1px solid black;
  }
}
