@import "config.scss";
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }}


/*     Navbar     */
.nav {
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 800;
    display: flex;
    position: fixed;
    user-select: none;
    background-color: $white;
    justify-content: space-around;
    font-family: 'PP Neue Montreal', sans-serif;

    &__logo {
        height: 100%;
        display: flex;
        font-size: 1.5rem;
        font-weight: bold;
        align-items: center;
    }

    &__links {
        height: 100%;
        display: flex;
        align-items: center;

        li {
            color: $black;
            transition: .3s;
            margin-left: 1em;
            font-size: 1.1rem;
            transform-origin: center; 

            &:hover {
                font-size: 1.2rem;
            }
        }
    }

    &__btn {
        @include button;
        background: none;

        a {
            color: $black;
            transition: .3s;
            font-size: 1.1rem;
            padding: 10px 24px;
            background-color: $green;
            font-family: 'PP Neue Montreal', sans-serif;

            &:hover {
                color: $white;
                background-color: $dark-blue;
            }
        }
    }
}



/*     Banner     */
.banner {
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 800;
    display: flex;
    padding: 0 10%;
    position: fixed;
    user-select: none;
    background-color: $green;
    justify-content: space-between;

    &__title {
        height: 100%;
        display: flex;
        font-weight: 400;
        font-size: 1.2rem;
        align-items: center;
        font-family: 'PP Neue Montreal';
    }

    &__btn {
        @include button;
        background: none;

        a {
            color: $white;
            background: $black;
            font-size: 1.2rem;
            transition: .3s;
            padding: 10px 24px;
            font-family: 'PP Neue Montreal';

            &:hover {
                color: $black;
                background: $white;
            }
        }
    }
}



/*     Contents     */
section {
    width: 100%;

    .hero {
        width: 100%;
        height: 100vh;

        &__item {
            width: 100%;
            height: 100%;
            padding: 0 5%;
            overflow: hidden;
            position: relative;
            
            h1 {  
                font-size: 6rem;
                line-height: 90%;
                margin-top: 1.7em;
                font-weight: 400;
                text-transform: capitalize;
                font-family: 'Space Grotesk', sans-serif;
            }

            p {
                padding-top: 1.5em;
                font-size: 1.1rem;
                font-family: 'PP Neue Montreal', sans-serif;
            }
            
            img {
                top: 10%;
                right: -5%;
                position: absolute;
                transform: scale(.8);
            }
        }
    }
    

    .data {
        width: 100%;
        height: 30vh;
        color: $white;
        display: flex;
        padding: 0 5%;
        background: $black;
        align-items: center;
        
        h1 {
            font-size: 2.8rem;
            padding-right: 5.3em;
        }
        
        h1, h2 {
            font-weight: 500;
            font-family: 'PP Neue Montreal';
        }

        h2 {
            line-height: 90%;
            margin-left: 2em;
        }
    }
  

    .data2 {
        width: 100%;
        height: 30vh;
        display: flex;
        padding: 0 5%;
        overflow: hidden;
        position: relative;
        background: $green;
        align-items: center;
        justify-content: flex-end;

        h1 {
            height: 70%;
            font-weight: 400;
            font-size: 2.8rem;
            text-align: right;
            line-height: 95%;
            font-family: 'PP Neue Montreal';
        }

        p {
            font-size: 1.1rem;
            position: absolute;
            padding-top: 5em;
            font-family: 'PP Neue Montreal';
        }

        img {
            position: absolute;
            transform: scale(0.1);
        }

        .google {
            right: 27%;
            transform: scale(.08);
        }

        .microsoft {
            right: 12%;
        }

        .spotify {
            right: 16%;
            transform: scale(0.15);
            filter: contrast(100);
        }

        .apple {
            right: -5%;
            margin-bottom: .6em;
        }
    }


    .benefit {
        width: 100%;
        height: 100vh;

        &__item {
            width: 100%;
            height: 100%;
            position: relative;
            font-family: 'PP Neue Montreal';

            h1 {
                font-size: 4rem;
                padding-top: 8%;
                text-align: center;
                font-family: 'Space Grotesk';
            }

            p {
                text-align: center;
                font-size: 1.1rem;
                padding-top: .3em;
            }

            video {
                top: 100%;
                left: 50%;
                width: 40em;
                height: 22em;
                position: absolute;
                background: $black;
                transform: translate(-50%, -100%);
            }
        }
    }



    .process {
        width: 100%;
        height: 100vh;

        &__item {
            width: 100%;
            height: 100%;
            padding: 0 10%;
            position: relative; 

            h1 {
                font-size: 3rem;
                padding-top: 3em;
                font-family: 'Space Grotesk';

                span {
                    font-size: 5rem;
                }
            }

            ul {
                padding-top: 2em;
                font-family: 'PP Neue Montreal';
                
                li {
                    width: 30%;
                    font-size: 2rem;
                    cursor: default;
                    margin-bottom: 1em;
                    position: relative;
                    padding-bottom: .2em;
                    border-bottom: 1px solid black;

                    &::before {
                        content: '→'; 
                        color: $black;
                        font-size: 2rem;
                        padding-right: 1em;
                    }
                }
            }

            &__img {
                top: 45%;
                right: 23%;
                z-index: 2;
                width: 480px;
                height: 240px;
                overflow: hidden;
                position: absolute;
                background: black;
                
                img {
                    transition: .3s ease-in-out;
                    
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            &__frame {
                top: 47%;
                right: 21%;
                z-index: 1;
                width: 480px;
                height: 240px;
                position: absolute;
                border: 1px solid black;
            }
        }
    }
    

    .plans {
        width: 100%;
        height: 120vh;

        &__title {
            font-size: 4rem;
            padding-top: 1em;
            text-align: center;
            font-family: 'Space Grotesk', sans-serif;
        }

        &__desc {
            font-size: 1.1rem;
            text-align: center;
            font-family: 'PP Neue Montreal';
        }

        .container {
            width: 100%;

            .row {
                width: 100%;
                display: flex;
                margin-top: 2em;
                padding-right: 4em;
                justify-content: center;
    
                ion-icon {
                    font-size: 8rem;
                    transition: .3s;
                    margin-left: .5em;

                    &:hover {
                        color: $green;
                        font-size: 8.5rem;
                    }
                }
            }
        }
    }


    .data3 {
        width: 100%;
        height: 80vh;
        padding: 5% 10%;

        &__box {
            width: 100%;
            height: 100%;
            color: $black;
            position: relative;
            background-color: $green;
            border: 1px solid black;
            font-family: 'PP Neue Montreal';

            h1 {
                height: 65%;
                width: 100%;
                display: flex;
                font-size: 7rem;
                position: absolute;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;
                font-family: 'Space Grotesk';
            }

            p {
                padding-top: 19%;
                font-size: 1.2rem;
                text-align: center;
            }

            button {
                width: 100%;
                display: flex;
                @include button;
                background: none;
                justify-content: center;

                a {
                    color: $white;
                    background: $black;
                    padding: 12px 35px;
                    font-size: 1.5rem;
                    margin-top: .5em;
                    transition: .3s;
                    font-family: 'PP Neue Montreal';
                    
                    &:hover {
                        color: $black;
                        background: $white
                    }
                }
            }
        }
    }


    .footer {
        width: 100%;
        height: 30vh;
        user-select: none;
        background: $black;

        &__upper {
            width: 100%;
            height: 60%;
            color: #666;
            position: relative;
            text-align: center;
            font-family: 'PP Neue Montreal';
        
            h1 {
                color: $green;
                padding-top: 1em;
            }

            .socials {
                gap: .5em;
                width: 100%;
                display: flex;
                padding-top: 1em;
                font-size: 1.5rem;
                justify-content: center;
            }
        }

        &__bottom {
            width: 100%;
            height: 40%;
            color: #666;
            font-size: .8rem;
            position: relative;
            text-align: center;
            font-family: 'PP Neue Montreal';

            p {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}


